<div [ngStyle]="{'background': config.fondo,'padding':'20px','border':'5px solid black','border-color':config.color}">
    <h1>{{config.titulo}}</h1>
    <p>{{config.descripcion}}</p>

    <nav class="navMenu">
        <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
        <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">zapatillas</a>
        <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Video Juegos</a>
        <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">cursos</a>
        <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Posts</a>
        <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
        <a [routerLink]="['/crear usuario']" [routerLinkActive]="['active']">crear usuario</a>
    </nav>

    <!-- <button (click)="ocultarVidejuego()">Ocultar VideJuego</button>
    <videojuego *ngIf="mostrar_videjuegos"></videojuego>
    <hr>
    <zapatillas></zapatillas> -->
    <router-outlet></router-outlet>
    <div class="clearfix"></div>
    <!-- <cursos></cursos> -->
</div>