.zapatillaDetalle {
    padding: 5px;
    transition: 300ms;
    cursor: pointer;
    font-family: Helvetica, Arial;
    border: 1px solid #ccc;
    margin: 5px;
    width: 200px;
    height: 300px;
    float: left;
}

.zapatillaDetalle:hover {
    background: #cccc;
    box-shadow: 0px 0px 1px black;
    color: white;
    border: 1px solid #3f3939cc;
}

.zapatillasStock {
    margin: 0px auto;
    padding: 5px;
}

.zapatillasStock button {
    border-radius: 2px;
    width: 100%;
    margin: 0px auto;
    margin-top: 5px;
    padding: 5px;
}

#selectorTheme {
    /* position: relative; */
    margin: 0px auto;
    width: 115px;
    height: 40px;
}

#toGreen,
#toRed,
#toBlue {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: inline-block;
    margin: 0px auto;
    margin: 5px;
    transition: 300ms;
    cursor: pointer;
}

#toGreen:hover,
#toRed:hover,
#toBlue:hover {
    border: 1px solid black;
}

#toGreen {
    background: #235e3d;
}

#toRed {
    background: #ca3413;
}

#toBlue {
    background: #1f87c4;
}

.altoPrecio {
    color: gray;
    font-size: 18px;
}

.fondoRojo {
    background: red;
}

.subrayado {
    text-decoration: underline;
}
